@import url("https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap");

body {
    background-color: #83cbda;
    margin: 20px;
}

.home-col img {
    width: 100%;
    max-height: 90vh;
}

.home-nav-item {
    padding: 50px 0;
    width: 100%;
}

#home-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
