---
layout: default
title: About
---

{% include nav.html %}

<script>
    setActiveNavLink("about");
</script>

<h1>Who is Nacho Libre?</h1>
<div class="center-container">
    <main
        id="about-container"
        class="flex-container flex-wrap r-gap-50 c-gap-20 p-20"
    >
        <div class="center-container flex-wrap-item">
            <img
                id="nacho-about-img"
                src="img/about-photo.jpg"
                alt="Nacho at Monastery"
            />
        </div>
        <div class="flex-wrap-item">
            <h2>Bio</h2>
            <p>
                Nacho Libre is a luchador based out of Oaxaca, Mexico. Nacho has
                had a unique career because he originated as a monk in a
                monastery outside the city. Originally leading a double life
                because he was afraid of being shunned by the monastery, finally
                he went public with his career and got support from his peers.
                He donates the proceeds of his career to the orphanage attached
                to the monastery. Nacho came to fame recently when he beat the
                legendary Ramses as a massive underdog. Nacho's costume was hand
                crafted with materials around the moastery. His tag team
                partner, Esqueleto, he met in the city in Oaxaca, first meeting
                when they got into a street fight over some food!
            </p>
            <h2>Stats</h2>
            <ul>
                <li>Age: 35</li>
                <li>Height: 5'6</li>
                <li>Weight: 220 lbs</li>
                <li>Ethnicity: Mexican/Scandinavian</li>
            </ul>
        </div>
    </main>
</div>

{% include footer.html %}
