---
layout: default
title: Citations
---

{% include nav.html %}

<h1>Citations</h1>
<main>
    <div class="center-container">
        <ul id="citations-list">
            <li>
                Logo Nacho with Mask:
                <a href="https://www.oklahoman.com/gallery/articleid/3439098"
                    >https://www.oklahoman.com/gallery/articleid/3439098</a
                >
            </li>
            <li>
                Title Font (from Movie Poster):
                <a href="https://titlescreens.fandom.com/wiki/Nacho_Libre"
                    >https://titlescreens.fandom.com/wiki/Nacho_Libre</a
                >
            </li>
            <li>
                All Wrestling Matches Video (from movie):
                <a href="https://www.youtube.com/watch?v=9JTZ5BjR6gI"
                    >https://www.youtube.com/watch?v=9JTZ5BjR6gI</a
                >
            </li>
            <li>
                Ramses Wrestling Match Video (from movie):
                <a href="https://www.youtube.com/watch?v=Um4zOVCetac&t=682s"
                    >https://www.youtube.com/watch?v=Um4zOVCetac&t=682s</a
                >
            </li>
            <li>
                About Page Nacho:
                <a
                    href="https://theoddapple.com/nacho-libre-is-an-underrated-gem-films-we-secretly-love/"
                    >https://theoddapple.com/nacho-libre-is-an-underrated-gem-films-we-secretly-love/</a
                >
            </li>
            <li>
                Instagram Greyscale:
                <a href="https://www.pngwing.com/en/free-png-zwcyj"
                    >https://www.pngwing.com/en/free-png-zwcyj</a
                >
            </li>
            <li>
                Facebook Greyscale:
                <a
                    href="https://www.pngitem.com/middle/ibRxTb_fb-icon-png-facebook-logo-grey-circle-transparent/"
                    >https://www.pngitem.com/middle/ibRxTb_fb-icon-png-facebook-logo-grey-circle-transparent/</a
                >
            </li>
            <li>
                Twitter Greyscale:
                <a href="https://www.iconsdb.com/gray-icons/twitter-icon.html"
                    >https://www.iconsdb.com/gray-icons/twitter-icon.html</a
                >
            </li>
        </ul>
    </div>
</main>

{% include footer.html %}
