---
layout: default
title: Highlights
---

{% include nav.html %}

<script>
    setActiveNavLink("highlights");
</script>

<h1>Match Highlights</h1>
<section class="flex-container flex-wrap r-gap-50 c-gap-20 p-20">
    <div class="flex-wrap-item">
        <h3 class="m-0">Anaconda Squeeze</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
            sequi dolorum quae ducimus itaque iste, voluptatum tempora! Debitis
            quis, ex accusamus quia libero voluptate iste nobis sapiente
            voluptates reprehenderit. Accusantium.
        </p>
        <div class="center-container">
            <iframe
                class="highlights-iframe"
                src="https://www.youtube.com/embed/9JTZ5BjR6gI"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            ></iframe>
        </div>
    </div>
    <div class="flex-wrap-item">
        <h3 class="m-0">Anaconda Squeeze</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
            sequi dolorum quae ducimus itaque iste, voluptatum tempora! Debitis
            quis, ex accusamus quia libero voluptate iste nobis sapiente
            voluptates reprehenderit. Accusantium.
        </p>
        <div class="center-container">
            <iframe
                class="highlights-iframe"
                src="https://www.youtube.com/embed/9JTZ5BjR6gI"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            ></iframe>
        </div>
    </div>
    <div class="flex-wrap-item">
        <h3 class="m-0">Anaconda Squeeze</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
            sequi dolorum quae ducimus itaque iste, voluptatum tempora! Debitis
            quis, ex accusamus quia libero voluptate iste nobis sapiente
            voluptates reprehenderit. Accusantium.
        </p>
        <div class="center-container">
            <iframe
                class="highlights-iframe"
                src="https://www.youtube.com/embed/9JTZ5BjR6gI"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            ></iframe>
        </div>
    </div>
    <div class="flex-wrap-item">
        <h3 class="m-0">Anaconda Squeeze</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
            sequi dolorum quae ducimus itaque iste, voluptatum tempora! Debitis
            quis, ex accusamus quia libero voluptate iste nobis sapiente
            voluptates reprehenderit. Accusantium.
        </p>
        <div class="center-container">
            <iframe
                class="highlights-iframe"
                src="https://www.youtube.com/embed/9JTZ5BjR6gI"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            ></iframe>
        </div>
    </div>
</section>

{% include footer.html %}
