---
layout: default
title: Highlights
---

{% include nav.html %}

<script>
    setActiveNavLink("highlights");
</script>

<h1>Match Highlights</h1>
<div class="center-container">
    <section
        id="highlights-container"
        class="flex-container flex-wrap r-gap-50 c-gap-20 p-20"
    >
        <div class="flex-wrap-item">
            <h3 class="m-0">Anaconda Squeeze</h3>
            <p class="highlights-paragraph">
                One of Nacho's most famous moves is the Anaconda Squeeze. In
                this match with the Tall Boys he shouts at as he constricts on
                his opponent. This move is known to feel like it is bone
                crushing and it is difficult for opponents to recover.
            </p>
            <div class="center-container">
                <iframe
                    class="highlights-iframe"
                    src="https://www.youtube.com/embed/9JTZ5BjR6gI?t=154&end=164"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                ></iframe>
            </div>
        </div>
        <div class="flex-wrap-item">
            <h3 class="m-0">Corn Slap</h3>
            <p class="highlights-paragraph">
                This move Nacho pulled in a tag team match against the duo
                Satan's Cavemen. This move shows how resourceful Nacho can be
                when he is fighting in the crowd. This was a turning point in
                the match, but unfortunately Esqueleto and Nacho could not get
                the win.
            </p>
            <div class="center-container">
                <iframe
                    class="highlights-iframe"
                    src="https://www.youtube.com/embed/9JTZ5BjR6gI?t=336&end=348"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                ></iframe>
            </div>
        </div>
        <div class="flex-wrap-item">
            <h3 class="m-0">Ramses Finishing Move</h3>
            <p class="highlights-paragraph">
                This is Nacho's most famous wrestling move of all time. In his
                famous fight against Ramses, Nacho uses this beautiful pin after
                doing a massive dive to reach Ramses while he is on the
                defensive and running from the incoming Nacho. Nacho recovers
                from a foot on the neck in an impressive sequence leading up to
                the finishing blow.
            </p>
            <div class="center-container">
                <iframe
                    class="highlights-iframe"
                    src="https://www.youtube.com/embed/TbnrgIGtNtA?t=193"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                ></iframe>
            </div>
        </div>
        <div class="flex-wrap-item">
            <h3 class="m-0">Nipple Twist Backbreaker</h3>
            <p class="highlights-paragraph">
                Nacho pulled this move in the Battle Jam. The nipple twister is
                not a common move used in lucha libre, but it threw his opponent
                off so he could then follow it up with a second combo move.
                Nacho is not known to have used this move since the Battle Jam.
            </p>
            <div class="center-container">
                <iframe
                    class="highlights-iframe"
                    src="https://www.youtube.com/embed/9JTZ5BjR6gI?t=542"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                ></iframe>
            </div>
        </div>
    </section>
</div>

{% include footer.html %}
