---
layout: default
title: Schedule
---

{% include nav.html %}

<script>
    setActiveNavLink("schedule");
</script>

<h1>Season Schedule</h1>
<main class="p-5">
    <div class="center-container">
        <div id="schedule-tickets-container" class="flex-columns-container">
            <h2>Buy tickets for next season!</h2>
            <form action="https://www.ticketmaster.ca/">
                <input
                    class="button button-border-red button-hover-red shadow"
                    type="submit"
                    value="Tickets"
                />
            </form>
        </div>
    </div>
    <table class="center-container p-20">
        <tr>
            <th>Date</th>
            <th>Tag Team</th>
            <th>Opponent</th>
            <th>Result</th>
        </tr>
        <tr>
            <td>F</td>
            <td>sdf</td>
            <td>sdf</td>
            <td>sdf</td>
        </tr>
    </table>
</main>

{% include footer.html %}
