---
layout: default
title: Schedule
---

{% include nav.html %}

<script>
    setActiveNavLink("schedule");
</script>

<h1>Season Schedule</h1>
<main class="p-5">
    <h2 id="schedule-season-champion-header" class="center-container">
        2005 Season Champion: Nacho Libre!
    </h2>
    <div class="center-container">
        <div id="schedule-tickets-container" class="flex-columns-container">
            <h2>Buy tickets for next season!</h2>
            <form action="https://www.ticketmaster.ca/">
                <input
                    class="button button-border-red button-hover-red shadow"
                    type="submit"
                    value="Tickets"
                />
            </form>
        </div>
    </div>
    <h2 id="schedule-season-results-header" class="center-container m-20">
        2005 Season Results
    </h2>
    <div class="center-container">
        <table id="schedule-table" class="border shadow p-20">
            <tr>
                <th>Date</th>
                <th>Tag Team</th>
                <th>Opponent</th>
                <th>Result</th>
            </tr>
            <tr>
                <td>January 15th</td>
                <td>&#10003;</td>
                <td>The Tall Boys</td>
                <td>L</td>
            </tr>
            <tr>
                <td>January 22nd</td>
                <td>&#10003;</td>
                <td>Satan's Cavemen</td>
                <td>L</td>
            </tr>
            <tr>
                <td>January 29th</td>
                <td>&#10003;</td>
                <td>The Romans</td>
                <td>L</td>
            </tr>
            <tr>
                <td>February 5th</td>
                <td>&#10003;</td>
                <td>Femme Fatales</td>
                <td>L</td>
            </tr>
            <tr>
                <td>February 12th</td>
                <td>&#10003;</td>
                <td>The Whipping Boys</td>
                <td>L</td>
            </tr>
            <tr>
                <td>February 26th</td>
                <td>&#10007;</td>
                <td>The Battle Jam (5 Opponents)</td>
                <td>W (Default)</td>
            </tr>
            <tr>
                <td>February 26th</td>
                <td>&#10007;</td>
                <td>Ramses (Championship Match)</td>
                <td>W</td>
            </tr>
        </table>
    </div>
</main>

{% include footer.html %}
