<footer class="center-container c-gap-20 p-20">
    <div id="footer-icons-container">
        <a href="https://twitter.com/nachoooo_libre"
            ><img class="footer-icons" src="img/twitter-greyscale.png" alt=""
        /></a>
        <a href="https://www.instagram.com/nacholibredaily/?hl=en"
            ><img class="footer-icons" src="img/ig-greyscale.png" alt=""
        /></a>
        <a href="https://www.facebook.com/NachoLibreMovie/"
            ><img class="footer-icons" src="img/fb-greyscale.png" alt=""
        /></a>
    </div>
    <a id="footer-citations" href="">Citations</a>
</footer>
